<!doctype html>
<html>
    <body>
    <h1>Signup
    </h1>
        <form action="/user_signup" method="post">
            <table>
                <tr>
                    <td>
                        <label>Username:</label>
                    </td>
                    <td>
                        <input name = "username1" type "text" value = "{{username1}}"/>
                    </td> 
                    <td>
                        <p class ="username_error">{{username_error}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password:</label>
                    </td>
                    <td>
                        <input name = "verify_password1" type = "password" value = "{{verify_password1}}"/>
                    </td>
                    <td>
                        <p class = "password_error1">{{password_error1}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Verify Password:</label>
                    </td>
                    <td>
                        <input name = "verify_password2" type = "password" value "{{verify_password2}}"/>
                    </td>
                    <td>
                        <p class = "password_error2"> {{password_error2}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email Address:</label>
                    </td>
                    <td>
                        <input name = "user-email" type = "text" value "{{e_address}}"/>
                    </td>
                    <td>
                        <p class = "email_error"> {{email_error}}</p>
                    </td>
                </tr>
            </table>
            <input type = "submit"/>
        </form>
    </body>
</html>

